html,body {
            height: 100%;
}

.login-box {
   
    width: 400px;
    height: 300px;
    position: relative;
    top:30%;
    margin: auto;
    padding-top: 300px;
    margin-left: 60%;
}
.login-box-body {
    background: transparent;
}
.form-control {
    background: #69a9ce;
    color: white;
    border: transparent;
    width: 400px;
}
.login-logo {
    font-family: 'Microsoft Yahei';
    color: #0f74ae;
    font-size: 18px;
    padding-top: 10px;
    margin-bottom: 5px;
    text-align: center;
}
.login-box input::-webkit-input-placeholder {
    color: white !important;
}
.login-box input:-moz-placeholder {
    /* FF 4-18 */
    color: white !important;
}
.login-box input::-moz-placeholder {
    /* FF 19+ */
    color: white !important;
}
.login-box input:-ms-input-placeholder {
    /* IE 10+ */
    color: white !important;
}

#regiestbtn{
	margin-top:20px;
}